<!DOCTYPE html>
<html>
<head>

<title>Payment form</title>
<link rel="stylesheet" type="text/css" href="paymentform.css">
</head>
<body>
     <p>Hey User! It unfortunate to see that you're not subscribed 
     to enjoy fantastic features of TuneHub</p>
     <br><br>
     <p>Why Subscription?</p><br><br>
     <p>1.Add free streaming</p>
     <p>2.Custom Caller tune</p>
     <p>3.Offline Listening</p>
     <p>4.Unlimited Skips</p>
     <p>5.Priority Support</p>
     <p>Want to try? Pay now to avail best offers</p>
     <button>Pay now!</button>
</body>
</html>